<div>
  <h1>Welcome to {{websiteOneWordName}}!</h1>
  <p>Hello {{username}},</p>
  <p>Here is a link to log you into your new MaskForecast account:</p>
  <a href="{{link}}" style="background: {{buttonBackgroundColor}};color: {{buttonTextColor}};border-radius: 6px;padding: 12px;text-decoration: none;display: inline-block;width: auto;margin: 12px 0;">Log Into MaskForecast</a>
  <p>
    <i>If you are having trouble with the button, try copy/pasting this URL to your favorite browser:</i>
  </p>
  <p>
    {{link}}
  </p>
  <p>This link will expire {{expires}}.</p>
</div>